APP_NAME="Proyectos Nuevos Hub"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://projectscentral.integro.net.gt

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=proyectos
DB_USERNAME=proyectos
DB_PASSWORD=change-me

LOG_CHANNEL=stack
FILESYSTEM_DISK=local
SESSION_DRIVER=file
CACHE_DRIVER=file
